body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/pLnG9m56/pexels-tirachard-kumtanom-733852.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 20%;
  height: 20px solid #fff;
  font-family: source sans Pro, sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}

.blog
{
  margin-bottom: 20px
}

.date
{
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight; 600;
}
.paragraph
{
  border-left: 5px solid #2370a5;
  padding-left: 5px;
}